html {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #273343;
}

#quiz {
  width: 100%;
  min-width: 16rem;
  max-width: 32rem;
  margin: 0 1rem;
  padding: 3rem;
  text-align: center;
  background-color: #e3f6f5;
}

h1 {
  padding: 2px;
  font-size: 3rem;
  text-align: center;
  color: #57636e;
}
#question {
  font-size: 1.7rem;
  color: #5a6772;
}
.btn {
  width: 250px;
  padding: 10px 20px;
  margin: 10px 40px 10px 0;
  font-size: 20px;
  border: none;
  border-radius: 0.3rem;
  color: white;
  background-color: #34a3a3;
}
.btn:hover {
  cursor: pointer;
  background-color: #275763;
}

#progress {
  font-size: 20px;
}
